{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Enter new password{% endblock %}


{% block content %}

{% include 'apps/home/_includes/banner.html' %}

<style>
.top-margin{margin-top: 450px;}

 @media (min-width: 769px) and (max-width: 992px) {
  .top-margin{margin-top: 950px;margin-bottom: 100px;}
 }
</style>

{% if validlink %}

<div class="container top-margin">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
            <h1 class="Display-5 mb-5">Définissez un nouveau mot de passe!</h1>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark btn-block form-control mt-5" type="submit">Changer mon mot de passe</button>
            </form>
        </div>
    </div>
</div>

{% else %}

<p>
    Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé. Veuillez
    demander une nouvelle réinitialisation de mot de passe.
</p>

{% endif %}
{% endblock %}