{% extends 'base.html' %}

{% block title %}Password reset Done{% endblock %}


{% block content %}

{% include 'apps/home/_includes/banner.html' %}

<style>
    .top-margin{margin-top: 480px;}
    @media (min-width: 769px) and (max-width: 992px) {

    }
</style>

<div class="container top-margin" >
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mx-auto mt-5 ">
            <h1 class="text-center mb-5">Réinitialisation du mot de passe terminée</h1>

            <h3>
                Votre mot de passe a été défini. Vous pouvez aller de l'avant et <a href="{% url 'accounts:login' %}">
                s'identifier </a> maintenant.
            </h3>

        </div>
    </div>
</div>

{% endblock %}