{% extends 'base.html' %}


{% block content %}

{% include 'apps/home/_includes/banner.html' %}

<style>
.paraph{font-size: 30px;}
.margin-down{margin-bottom: 290px;}

@media (min-width: 769px) and (max-width: 992px) {
 .paraph p{width: 100%;font-size: 50px;text-align: left;margin-top: 20px;}
 .margin-down{margin-bottom: 210px;margin-top: 980px;}
}
</style>

<div class="container  margin-down">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 paraph mb-5">
            <p class="paraph">
                Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe
                avec l'e-mail que vous avez entré. Vous devriez les recevoir sous peu.
                .
            </p>
            <p>
                Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes
                inscrit et vérifiez votre dossier de courrier indésirable.
            </p>

        </div>
    </div>
</div>

{% endblock %}