{% extends  'base.html' %}
{% load static %}


{% block content %}

{% include 'apps/home/_includes/banner.html' %}

<style>
    .page-top{margin-top: 480px;}

    @media (min-width: 769px) and (max-width: 992px) {.table{font-size: 45px;}.page-top{margin-top: 950px;}.mb-2{font-size: 65px;}.text-size{font-size: 45px;}.text-sizes{font-size: 38px;display}.text-siz{font-size: 25px;} .form-control{font-size: 35px;margin-top: 20px;}}
</style>

<div class="page-section  mb-5 page-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 mx-auto">
                  <h1 class="text-center wow mb-2 mt-sm-5 mb-sm-5">Entrer en contact</h1>
           <hr>
        <form class="contact-form mt-5" method="POST" novalidate autocomplete="off">
            {% csrf_token %}

            <div class="row mb-3 ">
                <div class="col-lg-6 col-md-12 col-sm-12  py-2  mb-sm-3" >
                    <label for="fullName" class="text-size "> Nom</label>
                     <h6 style="color:red;" class="text-size">{{ form.errors.fullname }}</h6>
                    {{ form.fullname }}
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12  py-2  mb-sm-3">
                    <label for="emailAddress" class="text-size ">E-mail</label>
                     <h6 style="color:red;" class="text-size">{{ form.errors.email1 }}</h6>
                    {{ form.email1}}
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12  py-2  mb-sm-3">
                    <label for="subject" class="text-size ">Sujet</label>
                     <h6 style="color:red;" class="text-size">{{ form.errors.subject }}</h6>
                    {{ form.subject }}
                </div>
                <div class="col-12 col-md-12 col-sm-12 py-2 mb-sm-3 wow fadeInUp">
                    <label for="message" class="text-size ">Message</label>
                     <h6 style="color:red;" class="text-size">{{ form.errors.message }}</h6>
                    {{ form.message }}
                </div>
            </div>
            <button class="btn btn-outline-dark wow text-size zoomIn" type="submit">Envoyer le message</button>
        </form>
            </div>

        </div>

    </div>
</div>

<div class="maps-container wow fadeInUp ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7184344.349999687!2d24.7!3d-28.45!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sza!4v1631255830861!5m2!1sen!2sza" width="100%" height="370" style="border:0; margin-bottom:-60px;" allowfullscreen="" loading="lazy"></iframe>
    <div id="google-maps"></div>
</div>

{% endblock content %}}