{% load static %}


<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left overflow-auto" id="cbp-spmenu-s1">
    <!--left-fixed -navigation-->
    <aside class="sidebar-left">
        <nav class="navbar navbar-inverse">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1>
                    <a class="navbar-brand" href="{#% url 'web:dashboard:dashboard' %#}">
                        <span class="fa fa-globe" style="color: lightseagreen"></span>
                        <span style="color: lightskyblue">Kaps Mode</span>
                        <span class="dashboard_text" style="color: darkturquoise">La Mode | L'élégance</span>
                    </a>
                </h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview {% if menu == 'Dashboard' %}active{% endif %}">
                        <a href="{#% url 'web:dashboard:dashboard' %#}">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
{#                            <i class="fa fa-angle-left pull-right"></i>#}
                        </a>
                    </li>
                    <li class="treeview {% if menu == 'Inventaire' %}active{% endif %}">
                        <a href="#">
                            <i class="fa fa-cubes"></i>
                            <span>Inventaire</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="{% if page_name == 'products' %}active{% endif %}">
                                <a href="{#% url 'web:products:products:list' %#}"><i class="fa fa-ellipsis-v"></i> Liste de Produits</a>
                            </li>
                            <li><a href="#"><i class="fa fa-retard"></i></a></li>
                            <li class="{% if page_name == 'categories' %}active{% endif %}">
                                <a href="{#% url 'web:products:categories:list' %#}"><i class="fa fa-random"></i> Catégories</a>
                            </li>
                            <li class="{% if page_name == 'colors' %}active{% endif %}">
                                <a href="{#% url 'web:products:colors:list' %#}"><i class="fa fa-tint"></i> Couleurs</a>
                            </li>
                            <li class="{% if page_name == 'sizes' %}active{% endif %}">
                                <a href="{#% url 'web:products:sizes:list' %#}"><i class="fa fa-tasks"></i> Tailles</a>
                            </li>
                            <li class="{% if page_name == 'coupons' %}active{% endif %}">
                                <a href="{#% url 'web:coupons:list' %#}"><i class="fa fa-gift"></i> Bons de réduction</a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview {% if menu == 'Administration' %}active{% endif %}">
                        <a href="#">
                            <i class="fa fa-user-secret"></i>
                            <span>Administration</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="{% if page_name == 'sr_admins' %}active{% endif %}">
                                <a href="{% url 'web:kaps_admins:list' %}"><i class="fa fa-sitemap"></i> Kaps Admin</a>
                            </li>
                            <li><a href="#"><i class="fa fa-retard"></i></a></li>
                            <li><a href="#"><i class="fa fa-users"></i> Employés</a></li>
                            <li><a href="#"><i class="fa fa-building-o"></i> Magasins</a></li>
                            <li><a href="#"><i class="fa fa-map-marker"></i> Locations</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-calculator"></i>
                            <span>Comptabilité</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-first-order"></i> Ordres</a></li>
                            <li><a href="#"><i class="fa fa-th-list"></i> Articles</a></li>
                            <li><a href="#"><i class="fa fa-money"></i> Paiements</a></li>
                            <li><a href="#"><i class="fa fa-paperclip"></i> Reçus</a></li>
                            <li><a href="#"><i class="fa fa-hand-o-left"></i> Remboursements</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-buysellads"></i>
                            <span>Les clients</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-buysellads"></i> Les clients</a></li>
                            <li><a href="#"><i class="fa fa-location-arrow"></i> Adresses</a></li>
                            <li><a href="#"><i class="fa fa-spinner"></i> Vouchers</a></li>
                            <li><a href="#"><i class="fa fa-map-marker"></i> Locations</a></li>
                        </ul>
                    </li>
                    <li class="treeview {% if menu == 'Bancaire' %}active{% endif %}">
                        <a href="#">
                            <i class="fa fa-fort-awesome"></i> <span>Bancaire</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="{% if page_name == 'banks' %}active{% endif %}">
                                <a href="{#% url 'web:banks:list' %#}"><i class="fa fa-fort-awesome"></i> Banques</a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-building-o"></i> <span>Magasins</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-clock-o"></i> Horaires d'ouvertures</a></li>
                            <li><a href="#"><i class="fa fa-building-o"></i> Magasins</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-envelope"></i> <span>E-mail </span>
                            <i class="fa fa-angle-left pull-right"></i>
                            <small class="label pull-right label-info1">08</small>
                            <span class="label label-primary1 pull-right">02</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="mailto:https:www.gmail.con"  target="_blank"><i class="fa fa-inbox"></i> Boîte de réception</a></li>
                            <li><a href="#"><i class="fa fa-pencil-square-o"></i> Écrire un email</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </aside>
</div>