{% extends 'base.html' %}


{% block content %}

{% include 'apps/home/_includes/banner.html' %}

<style>
    .img-fluid {width: 100px;height: 70px;}
    .quantity-box{cursor: pointer;}
    .top-margin{margin-top: 480px;margin-bottom: 120px;}

    @media (min-width: 769px) and (max-width: 992px) {.img-fluid {width: 150px;height: 100px;}
    .mb-2{font-size: 65px;}
    .text-size{font-size: 30px; }
    .top-margin{margin-top: 950px;margin-bottom: 120px;}
    .text-table1{ font-size: 38px;}
    .text-table{ font-size: 35px;}
    .change-product-size{font-size:35px !important;}
    }
</style>

<!-- Start Cart  -->
<div class="container mb-5 top-margin" >
    <h2 class="text-center mb-2">Récapitulatif de la commande</h2>
    <hr>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xsm-12">
            <div class="table-main table-responsive">
                <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th class="text-table1" scope="col">Images</th>
                        <th class="text-table1" scope="col">Produit</th>
                        <th class="text-table1" scope="col">Prix</th>
                        <th class="text-table1" scope="col">Quantité</th>
                        <th class="text-table1" scope="col">Total</th>
                        {#<th class="text-table1" scope="col">Supprimer</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                    <tr>
                        <th scope="row"><img alt="" class="img-fluid" src="{{ item.product.image_url }}" style=""/></th>
                        <td class="text-table">{{ item.product.title }}</td>
                        <td class="text-table">R{{ item.product.price }}</td>
                        <td class="text-table"><i aria-hidden="true" class="fa fa-minus chg-quantity  update-cart cursor-pointer change-product-size"
                               data-action="remove" data-product="{{ item.product.uuid_code }}"></i>&nbsp;{{ item.quantity }}&nbsp;<i
                                aria-hidden="true" class="fa fa-plus chg-quantity update-cart pe-auto cursor-pointer change-product-size"
                                data-action="add" data-product="{{ item.product.uuid_code }}"></i></td>
                        <td class="text-table">R{{ item.get_total }}</td>

                        <!--  TO BE IMPLEMENTED  -->
                        {% comment %}
                        <td class="text-table"><i class="fas fa-times chg-quantity update-cart" data-action="delete"
                               data-product="{{ item.product.uuid_code }}"></i></td>
                        {% endcomment %}

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <hr>

    <div class="row my-1">

        <div class="col-lg-8 col-sm-12">

        </div>

        <div class="col-lg-4 col-sm-12">
            <div class="d-flex">
                <h5 class="text-size text-table1"> Articles : </h5>
                <div class="ml-auto font-weight-bold text-size text-table1">{{ order.get_cart_items }}</div>
            </div>
            <hr>

            <div class="d-flex">
                <h5 class="text-size text-table1"> Grand Total</h5>
                <div class="ml-auto h5 text-size text-table1"> R
                    <b>{{ order.get_cart_total }}</b></div>
            </div>
            <hr>

            <div class="d-flex">
                <a class="btn btn-dark text-size" href="{% url 'web:home:home' %}">&#x2190; Retour au produit</a>
                <a class="ml-auto btn  btn-dark hvr-hover text-size" href="{% url 'web:accounting:orders:checkout' %}">Checkout</a>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->
{% endblock content %}