{% load static %}


<style>
    @media (min-width: 769px) and (max-width: 992px) {

        .my-5{
           font-size: 40px;
        }

        .pagination a {
         font-size: 40px !important;
        }
        .pagination .page-item .page-link{
         font-size: 40px !important;
        }
    }
</style>

<div class="col-12 my-5 page-size">
    <nav aria-label="Page Navigation">
        <ul class="pagination justify-content-center">

            {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            <!--                Middle page number -->
            {% for n in products.paginator.page_range %}
            {% if products.number == n %}
                <li class="page-item active">
                    <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                </li>
                {% elif n > products.number|add:'-2' and n < products.number|add:'2' %}
                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
            {% endif %}
            {% endfor %}

            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{products.next_page_number }}">Next</a>
                </li>
            {% endif %}

        </ul>
    </nav>
</div>